body {
  color: #333;
  margin: 0 auto 0 20px;
  padding: 0;
  width: 1100px;
}

a img {
  border: none;
  text-decoration: none;
}

article,
aside,
code,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

abbr[title], acronym {
  border-bottom: 1px dotted #;
  cursor: help;
}

cite {
  font-size: 90%;
}
address {
  font-size: 90%;
}

/*HEADERS*/
h1 {
  color: #357499;
  margin-top: 16px;
}
h2 {
  margin-left: 10px;
}
a h2 {

}
h3 {
  color: #666;
  margin-left: 30px;
}
h3:before {
  content: '\2514\00a0';
}


/*POSITIONING*/
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.left {
  float: left;
  margin: ;
}
.right {
  float: right;
  margin: ;
}

/*TABLES*/
table {
  border: 1px solid #ccc;
}
tr {
  border: 1px solid #ccc;
}
tr:nth-child(2n) {
  background: #eee;
}
tr:hover {
  background: #C2D8EF;
}
td {
  padding: 0 8px;
}
th {
  padding: 0 8px;
}

/*ADDITIONAL STYLES*/
.colored-green {
  color: green;
}
.colored-red {
  color: red;
}